
.eletricos{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.eletricos__aux{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    border-radius: 1.6rem;
    
}

.eletricos__title{
    gap: .5rem;
    font-size: 2.5rem;
    color: #295687;
    font-weight: 700;
    font-family: var(--title-font);
}

.eletricos__text.subtitle{
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    font-family: var(--text-font);
    background-color: #295687;
    padding: 2rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
}


.eletricos__text{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    font-family: var(--text-font);
    margin: 1rem 0;
}

.lista__item{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--black);
    font-family: var(--text-font);
    margin: 1rem 0;
}

.lista__title, .eletricos__subtitle{
    font-size: 1.8rem;
    font-weight: bold;
}

.eletricos__lista li a{
    text-decoration: none;
    color: red
}

.eletricos__lista li img{
    width: 100%;
    height: auto;
    border-radius: 1.6rem;
}

